--only-binary=:all:
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2
ta==0.11.0

python-telegram-bot==20.7
APScheduler==3.10.4
aiohttp==3.9.5
requests==2.32.3
pycryptodome==3.20.0

web3==6.15.1
ccxt==4.3.48
python-binance==1.0.19

Flask==3.0.0
gunicorn==21.2.0
uvicorn==0.30.6
python-dotenv==1.0.1
pytz==2024.1
ujson==5.9.0
loguru==0.7.2
